QLabel{
    font-size:11pt;
    font-weight:75;
    font-family:"Uroob";
    color:rgb(0,0,0);
}
QLabel[name="warn_color"]{
    background:rgb(164,0,0);
}
QLabel[name="tableSheet"]{
    border:1px solid #242424;
    background:;
    padding:2px;
}

QTableView{
    selection-background-color:rgb(0,0,255);
}
QMainWindow {
    background-color:rgb(238,238,236)  
}
QDialog {
    background-color:rgb(238,238,236)  
}
